
/* {border: 1px solid red;} */

body {
	font-family: 'Lato', sans-serif;
}

.container {
	max-width: 730px;
  	padding-top: 20px;
  	padding-bottom: 20px;
  	margin: auto;
}

.header,
.content,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 5em;
}

.navigation {
  text-align: right;
  border-bottom: 1px solid #e5e5e5;
}

.navigation a {
  text-decoration: none;
}

.navigation ul {
  margin: 5px;
}

.navigation li{
  clear: both;
  display: inline;
  list-style: none;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 200px;
}

/* Custom page footer */
.footer {
  padding-top: 4px;
  padding-bottom: 2px;
  color: #fff;
  border-top: 1px solid #e5e5e5;
  background: rgb(60, 61, 92);
}

.footer .right {
  float: right;
}